
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    color: #8CB2B0;

}

h2 {
    margin: 0;
    padding: 0;
    color: #fafafa;
    font-size: 20px;

}
h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    margin-top: 100px; /* Ajuste a margem superior para mover o texto para baixo */
    margin-bottom: 10px; /* Ajuste a margem inferior para mover o texto para cima */
}



body {
    font-family: Arial, sans-serif, bold;
    background-color: #E9F5EE;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    color: white;
    padding: 10px 20px;
}

/*Estilos cadastro funcionário */

.employee-image {
    margin-top: 20px;
}

.employee-image img {
    max-width: 40%;
    border-radius: 50%; /* Tornar a imagem arredondada */
}


.navbar {
    background-color: #fff;
}

#logo {
    width: 170px;
    height: 70px;
}

.dropdown-toggle::after {
    content: none !important;
  }

.header a {

    color: #8CB2B0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

 
.linkss {
    margin-left: 20px;
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 112px);
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

.login-form {
    background-color: white;
    border-radius: 25px;
    padding: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
    
}

.forget{
    font-size: 12px;
    color: #5b6b8b;
    float: right;
}

.login-form h2 {
    margin-bottom: 50px;
}

.login-form input {
    display: block;
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    background-color: #8CB2B0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 20px auto 0 auto;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #F5F5F5;
    color: #525252;
    clear: both;
}


.card {
    position: relative;
    width: 300px;
    height: 250px;
    background: #8cac99;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
    margin: 20px; /* Adicione um espaçamento de 20px entre os cards */
}

.card:hover {
    height: 240px;
}

/* Restante do seu CSS... */


.imgBX{
    position: absolute;
    left: 50%;
    top:-50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
    overflow: hidden;
    transition: 0.5s;

}

.card:hover .imgBX{
    width: 150px;
    height: 150px;
}

.imgBX img{
    position: absolute;
    left: 25px;
    top: 20px;
    width: 70%;
    object-fit: cover;
}

.card .content{
    position: absolute;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: .45s;
    cursor: pointer;
}

.card .content details{
    padding: 20%;
    text-align: center;
    width: 100%;
    transition: 0.5s;
}

.card .content details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}