* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


.navbar {
    background-color: #fff;

}

#logo {
    width: 170px;
    height: 70px;
}


.dropdown-toggle::after {
    content: none !important;
}




#svg-drop {
    color: red;
    margin-bottom: 2px;
}

#svg-drop1 {
    margin-bottom: 2px;
}





.header a {
    color: #8CB2B0;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;

}

.linkss {
    margin-left: 20px;
}

body {
    background-color: #E9F5EE;
}

.titulo h1{
    font-size: 25px;
    color: #8CB2B0;
}


.cont_table {
    margin-top: 20px;
    min-height:100%; 
    position:relative; 
    
}

.tabela {
    min-height: 100%;
    position: relative; 
    
}

.table-responsive {
    margin-top: 20px;
    border-radius: 20px;
    
}

.table-head{
    background-color: #8CB2B0;
}

td {
    font-weight: 500;
    color: black;
}

.page-item a{
    color: #8CB2B0;
    font-weight: 500;
}


.container-fluid {
    padding: 20px; 
    background-color: #f8f9fa; 
    
}

.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #8CB2B0;

}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: #fff;
}

.drop a{
    color: #8CB2B0;
    font-size: 18px;
    font-weight: 500;
}


#logo_equipe{
    width: 70px;
    height: 60px;
}
  
  footer {
    color: #A9A3A3;
    font-weight: 500;
    background-color: #fff;
  
    bottom: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    width: 100%;
    height: 70px;

    
    
  }

  .dropdown-menu{
    margin-right: -50px;
}

  
.notificacao{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid #8CB2B0;
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}
.notificacao.active{
    transform: translateX(0%);
}
.notificacao .notificacao-div{
    display: flex;
    align-items: center;
}
.notificacao-div .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #8CB2B0;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.notificacao-div .mensagem{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.mensagem .text{
    font-size: 20px;
    font-weight: 400;;
    color: #8CB2B0;
}
.mensagem .text.text-1{
    font-weight: 600;
    color: #8CB2B0;
}
.notificacao .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.notificacao .close:hover{
    opacity: 1;
}
.notificacao .tempo{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.notificacao .tempo:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #8CB2B0;
}
.tempo.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

.bi-check-lg {
    font-size: 30px;
    color: #8CB2B0;
}

.close {
    font-size: 20px;
    color: #8CB2B0;
}

.bi-x-circle-fill {
    color: #8CB2B0;
}
  

.notificacao .tempo_error:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: red;
}